.twi{
    background-color: rgba(9, 87, 75, 0.267);
}










































body{
    background-color:seashell
}
header{
    font-size: xx-large;
    font-style: oblique;
    text-align: center;
}
h2{
    font-style: italic;
    text-align:justify;
    color: rgba(155, 49, 49, 0.507);
    
}
img{
    border: rgb(157, 197, 204);
    
}
.abcde{
    text-align: center;
}
.abcd{
    text-align: inherit;
}
h6{
    font-size: 8px;
}
h5{
    font-size: 8px;
    text-align-last:right
}
.http{
    font-style: italic;
    text-align:justify;
    color: rgba(155, 49, 49, 0.507);
    font-size: 30px;

}
.jkl{
    text-align: center;
}
.fghj{
    text-align: center;
}
p{
    border-style: dashed;
    background-color: rgb(97, 148, 89);
    color: rgb(228, 176, 32);
}
.p{
    text-align: right;
}
.yui{
    text-align: center;
    background-color: blanchedalmond;
    color: blueviolet;
}
.WASD{
    background-color: crimson;
    color: antiquewhite;
}
.WASDF{
    background-color: rgba(156, 236, 180, 0.705);
    color: midnightblue;

}
.ihjk{
    background-color: rgb(85, 47, 85);
    color: papayawhip;
}
table{
    border-style: dotted;
    text-align: center;

}